.mcard:hover {
    transform: scale(0.95, 0.95);
}

.mcard:hover .details{
  transform: scale(0.95, 0.95);
  display: block;
}

.mcard:hover .imagediv{
  opacity: .3;
}

.details {
  display: none;
}

